<!DOCTYPE html>
<html>
  <head>
    <!-- <title><%= //title %></title> -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to Cat Fact Central!</h1>
    <!-- <p>Welcome to Cat Fact Central!</p> -->
    <a href="/cats/fact">Get a cat fact!</a>
  </body>
</html>